<p><%= @user.name %> 様<p>


<p>
  平素よりご利用いただきありがとうございます。<br>以下のURLをクリックして、パスワードをリセットして下さい。<br>リンク先に移動しない場合は、URLをコピーしてブラウザのアドレスバーにペーストして下さい。
<p>



<p><a href="<%= @url %>"><%= @url %></a></p>


<p>引き続き、ご愛顧のほどよろしくお願い申し上げます。<p>