.dish-card{
  margin-top:20px;
  
  .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
  }
  .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
  }
  .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
  }

}