@use "variables" as *;

%content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

// fontawesomeのアイコンの色を変更
.fontawesome {
  font-size: 0.75em;
  opacity: 0.6;
}

// ヘッダー
.header {
  @extend %content-width;

  // ドロップダウンメニューの背景設定
  &-dropdown-background {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
    border-radius: 50%;
  }

  // ドロップダウンメニューの設定
  &-dropdown-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-property: opacity;
    transition-duration: .2s;

    &:hover {
      opacity: 0.6;
    }
  }

  // ドロップダウンメニューのカードの設定
  &-dropdown-menu {
    border: 1px solid #fff !important;
    border-radius: 10px !important;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
  }

  // ドロップダウンメニューのリストの設定
  &-dropdown-item {
    border-radius: 4px;
  }
}


// フッター
.footer {
  
  &-li {
    list-style: none;
  }

  &-link {
    color: $cGray;
    text-decoration: none;
    font-size: 0.84em;
    transition-property: color;
    transition-duration: .2s;
    display: block;
    margin: 0 10px;

    &:hover {
      color: rgb(103, 103, 103) !important;
    }
  }
  
  &-copyright {
    color: $cGray;
    font-size: 0.84em;
  }
}

// heroの設定
.hero {
  width: 100%;
  height: 300px;
  text-align: center;
  position: relative;

  &-foods-1 {
  animation-name: move-left1;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  }

  @keyframes move-left1 {
    0% {
      transform: translateX(110%);
      opacity: 0;
    }
    1% {
      opacity: 1;  // アニメーションが始まるとすぐに要素を可視化させる
    }
    to {
      transform: translateX(-140%);
    }
  }

  @media (max-width: $contentMaxWidth) {
    @keyframes move-left1 {
      0% {
        transform: translateX(110%);
        opacity: 0;
      }
      1% {
        opacity: 1;  // アニメーションが始まるとすぐに要素を可視化させる}
      }
      to {
        transform: translateX(-500%);
      }
    }
  }

  &-foods-2 {
    animation-name: move-left2;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-fill-mode: backwards;
  }

  @keyframes move-left2 {
    0% {
      transform: translateX(110%);
      opacity: 0;
    }
    1% {
      opacity: 1;  // アニメーションが始まるとすぐに要素を可視化させる
    }
    to {
      transform: translateX(-150%);
    }
  }

  @media (max-width: $contentMaxWidth) {
    @keyframes move-left2 {
      0% {
        transform: translateX(110%);
        opacity: 0;
      }
      1% {
        opacity: 1;  // アニメーションが始まるとすぐに要素を可視化させる
      }
      to {
        transform: translateX(-500%);
      }
    }
  }
}

.food {
  margin-right: 105px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}