@use "variables" as *;
@use "bootstrap_settings";

%content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}


// ヘッダー
.header {
  @extend %content-width;
  
  &-fontawesome {
    font-size: 0.75em;
    opacity: 0.6;
  }

  // ドロップダウンメニューの背景設定
  &-dropdown-background {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
    border-radius: 50%;
  }

  // ドロップダウンメニューの設定
  &-dropdown-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-property: opacity;
    transition-duration: .2s;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }

  // ドロップダウンメニューのカードの設定
  &-dropdown-menu {
    border: 1px solid #fff !important;
    border-radius: 10px !important;
  }

  // ドロップダウンメニューのリストの設定
  &-dropdown-item {
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }
  }
}


// フッター
.footer {
  
  &-li {
    list-style: none;
  }

  &-link {
    color: $light-gray;
    text-decoration: none;
    font-size: 0.84em;
    transition-property: color;
    transition-duration: .2s;
    display: block;
    margin: 0 10px;

    &:hover {
      color: rgb(103, 103, 103) !important;
    }
  }
  
  &-copyright {
    color: $light-gray;
    font-size: 0.84em;
  }
}

// heroの設定
.hero {
  width: 100%;
  height: 300px;
  overflow: hidden; // 横にスクロールできないようにする
  text-align: center;
  position: relative;

  // アニメーションの設定
  &-foods-1 {
  width: 100%;
  animation-name: move-left1;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  }

  @keyframes move-left1 {
    0% {
      transform: translateX(115%);
      opacity: 0;
    }
    1% {
      opacity: 1;  // アニメーションが始まるとすぐに要素を可視化させる
    }
    to {
      transform: translateX(-115%);
    }
  }

  @media (max-width: $contentMaxWidth) {
    .hero-foods-1 {
      animation-duration: 20s;
    }
    @keyframes move-left1 {
      0% {
        transform: translateX(115%);
        opacity: 0;
      }
      1% {
        opacity: 1;  // アニメーションが始まるとすぐに要素を可視化させる}
      }
      to {
        transform: translateX(-350%);
      }
    }
  }

  &-foods-2 {
    width: 100%;
    animation-name: move-left2;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-fill-mode: backwards;
  }

  @keyframes move-left2 {
    0% {
      transform: translateX(115%);
      opacity: 0;
    }
    1% {
      opacity: 1;  // アニメーションが始まるとすぐに要素を可視化させる
    }
    to {
      transform: translateX(-115%);
    }
  }

  @media (max-width: $contentMaxWidth) {
    .hero-foods-2 {
      animation-duration: 15s;
    }
    @keyframes move-left2 {
      0% {
        transform: translateX(115%);
        opacity: 0;
      }
      1% {
        opacity: 1;  // アニメーションが始まるとすぐに要素を可視化させる
      }
      to {
        transform: translateX(-350%);
      }
    }
  }
  // アニメーション画像の設定
  &-food {
    margin-right: 105px;
  }

  // heroのタイトルの設定
  &-title-1 {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-title-2 {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-title-3 {
    width: 100%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// メインコンテンツの設定
.main-content {
  border-top: 2px solid #fff;
  background-color: $light-yellow;
}

// チェックボックの設定
.form-check-label {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  line-height: 52px;
  color: $primary;
  border: 1px solid $primary;
  background-color: #fff;
  font-size: 14px !important;
  font-weight: bold !important;

  &:hover {
    background-color: #fff;
    cursor: pointer;
  }
}
.form-check-input:checked + label {
  background-color: $primary;
  color: #fff;  // チェックがついている時の文字色
}

// formの各セクションの背景
// .ingredient, .seasoning, .category{
//   background-color: #fffbf3;
// }
// .cooking_method, .texture, .point{
  //   background-color: #45ff89;
  // }

// SignUpページ、ログインページ、料理名生成結果ページ、投稿詳細ページ
.card-form {
  background-color: #eee;

  &-bg-light-yellow {
    position: relative;
    background-color: #fff5e0;
    z-index: 1;
  }

  &-bg-white {
    background-color: #fff;
  }

  &-content {
    border-radius: 25px;
    background-color: #fff;
  }
}

// 生成結果ページ、投稿詳細ページ
.result {
  position: relative;
  background-color: $light-yellow;

  // フキダシのデザイン
  &-dish-name {
    position: relative;
    background: #fff;
    border-radius: 50px;

    &:before {  
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -15px;
      border: 15px solid transparent;
      border-top: 15px solid #fff;
    }
  }

  &-dish-content {
    background-color: #eee;
    border-radius: 10px;
  }

  &-dish-image {
    position: relative;
    z-index: 1;
  }

}

// リボンのデザイン
.ribbon {
  display: block;
  position: relative;
  padding: 20px 30px;
  font-size: 18px;/*フォントサイズ*/
  color: #FFF;/*フォントカラー*/
  background: $secondary;/*背景色*/
  margin: 0 auto;
  width: fit-content;
  z-index: 1;

  &:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px $dark-pink;/*折り返し部分*/
  }
  
  &:after {
    position: absolute;
    content: '';
    top: 100%;
    right: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-left: solid 20px $dark-pink;/*折り返し部分*/
  }
}

// 料理一覧のcardのデザイン
.card-time {
  color: #aca6a6;
  font-size: 0.84em;
}

.highlight {
  text-decoration: underline; /* 下線 */
  text-decoration-thickness: 0.5em; /* 線の太さ */
  text-decoration-color: rgba(255, 231, 16, 0.4); /* 線の色 */
  text-underline-offset: -0.2em; /* 線の位置。テキストに重なるようにやや上部にする */
  text-decoration-skip-ink: none; /* 下線と文字列が重なる部分でも下線が省略されない（線が途切れない） */
}

// 自分の料理一覧
  // 公開中マーク
.publish-mark {
  position: absolute;
  top: -20px;
  left: -8px;
}
  // 編集/削除マーク
.crud-menus {
  z-index: 1;
  position: absolute;
  top: -10px;
  right: 30px;
  width: 80px;
  height: 20px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 10px;

  &-1 {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 80px;
    height: 20px;
  }

  &-2 {
    position: absolute;
    top: 5px;
    right: -15px;
    width: 80px;
    height: 20px;
  }

  &-slash {
    position: absolute;
    top: 3px;
    right: -38px;
    width: 80px;
    height: 20px;
  }

}