<header class="header py-3 d-flex justify-content-between">
  <a class="header-brand" href="#"><%= image_tag 'brand_logo.svg', size: '100x50'%></a>
  <div class="header-dropdown">
    <div class="header-dropdown-background" data-bs-toggle="dropdown">
      <%= image_tag 'dropdown_icon.svg', class:'header-dropdown-icon', size: '30x30'%>
    </div>
    <ul class="header-dropdown-menu dropdown-menu dropdown-menu-end">
      <li>
        <a  class="header-dropdown-item dropdown-item"><i class="fa-solid fa-magnifying-glass me-3 fontawesome"></i>みんなの料理を見る</a>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <%= link_to login_path, class: 'header-dropdown-item dropdown-item' do %>
          <i class="fa-solid fa-right-to-bracket me-3 fontawesome"></i>
          <%= t('defaults.login') %>
        <% end %>
      </li>
    </ul>
  </div>
</header>