<header class="header py-3 d-flex justify-content-between">
  <a class="header-brand" href="#"><%= image_tag 'brand_logo.svg', size: '100x50'%></a>
  <div class="header-dropdown">
    <div class="header-dropdown-background" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
      <%= image_tag 'dropdown_icon.svg', class:'header-dropdown-icon', size: '30x30'%>
      <ul class="header-dropdown-menu dropdown-menu dropdown-menu-end">
        <li>
          <a  class="header-dropdown-item dropdown-item"><i class="fa-solid fa-magnifying-glass me-3 fontawesome"></i>みんなの料理を見る</a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <a class="header-dropdown-item dropdown-item"><i class="fa-solid fa-right-to-bracket me-3 fontawesome"></i>ログイン</a>
        </li>
      </ul>
    </div>
  </div>
</header>