<footer class="footer mt-3">
  <ul class="footer-ul d-flex justify-content-center ps-0 mb-2">
    <li class="footer-li"><%= link_to '利用規約', '#' ,class: 'footer-link' %></li>
    <li class="footer-li"><%= link_to 'プライバシー', '#' ,class: 'footer-link' %></li>
    <li class="footer-li"><%= link_to '運営元', '#' ,class: 'footer-link' %></li>
  </ul>
  <div class="footer-copyright text-center">
    &copy; 2023 AIお料理ネーミング
  </div>
</footer>