<footer class="footer mt-4">
  <ul class="footer-ul d-flex justify-content-center ps-0 mb-3">
    <li class="footer-li"><%= link_to '利用規約', page_path('terms_of_use'), class: 'footer-link' %></li>
    <li class="footer-li"><%= link_to 'プライバシー', page_path('privacy'), class: 'footer-link' %></li>
    <li class="footer-li"><%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSfWlL8H68nTo1oyCJ8Eu41KT5XS9JW1McyVyvWjz0C0GVLh1g/viewform?fbzx=-5885567971822961094' ,class: 'footer-link' %></li>
  </ul>
  <div class="footer-copyright text-center mb-4">
    &copy; AIお料理ネーミング
  </div>
</footer>