<div class='mask hidden' data-behavior='hidden'></div>
<div class='loadingModal hidden shadow text-center' data-behavior='hidden'>
  <h3 class="fw-bold mb-4">考え中です...</h3>
  <%= image_tag 'spin_robot', size: '180x180', class: 'mx-auto spin-robot' %>
</div>