<div class="col-md-4 col-6 mb-3 text-center">
  <%= f.radio_button :category_id, category.id, class: "d-none form-check-input", id: "category_#{category.id}" %>
  <%= f.label :category_id, category.name, class: "form-check-label fs-6", for: "category_#{category.id}" %>
</div>