<div class='similar-dish-mask hidden' data-similar-dish-target='mask' data-action='click->similar-dish#closeModal'></div>
<div class='loadingModal similar-dish-modal hidden shadow text-center' data-similar-dish-target='modal'>
  <h3 class="fw-bold mb-4">あなたが作ったような<br>オリジナルの料理は<br>まだありませんでした...</h3>
  <%= image_tag 'dejected_robot.svg', size: '180x180', class: 'mx-auto' %>
</div>