<div class="col-md-4 col-6 mb-3 text-center">
  <%= f.radio_button :seasoning_id, seasoning.id, class: "d-none form-check-input", id: "seasoning_#{seasoning.id}" %>
  <%= f.label :seasoning_id, seasoning.name, class: "form-check-label fs-6", for: "seasoning_#{seasoning.id}" %>
</div>