<h6 class='fw-bold text-center mb-3'>▼ 結果をみんなにシェアしよう ▼</h6>
<div class="share-result d-flex justify-content-center">
  <div class="share-result-x me-3">
    <%= link_to "https://twitter.com/share?url=#{ request.url }
        &text=🍳あなたが作った料理の名前は...%0a【#{ dish.dish_name }】%0a%23AIお料理ネーミング%0a",target: '_blank' do %>
    <i class="fa-brands fa-x-twitter x-share-button"></i>
    <% end %>
  </div>
    <div class="share-result-line me-3">
      <%= link_to "https://social-plugins.line.me/lineit/share?url=#{ request.url }", id: 'line-share-button', target: "_blank" do %>
        <i class="fa-brands fa-line line-share-button"></i>
      <% end %>
    </div>

</div>