  <%= link_to similar_dish_path(dish.uuid), class: "similar-dish-button px-3 py-3 text-center d-flex justify-content-center align-items-center", data: { action: 'click->similar_dish#showModal' } do %>
  <p class='similar-dish-text m-0 fw-bold'>似た料理を見る</p>
  <% end %>