<%= button_tag 'similar_dish_path(dish.uuid)', class: "similar-dish-button px-3 py-3 text-center d-flex justify-content-center align-items-center", data: { action: 'click->similar-dish#showModal', target: 'similar-dish.button' } do %>
  <p class='similar-dish-text m-0 fw-bold' data-similar-dish-target='buttonText'>似た料理を見る</p>
<% end %>