<div class="col-md-4 col-6 mb-3 text-center">
  <input class="d-none form-check-input" type="radio" name="texture" id=<%= texture.name %>>
  <label class="form-check-label fs-6" for=<%= texture.name %>>
    <%= texture.name %>
  </label>
</div>