<div class="col-md-4 col-6 mb-3 text-center">
  <%= f.radio_button :texture_id, texture.id, class: "d-none form-check-input", id: "texture_#{texture.id}" %>
  <%= f.label :texture_id, texture.name, class: "form-check-label fs-6", for: "texture_#{texture.id}" %>
</div>