<div class="container mt-3">
  <div class="row">
    <div class="col-6 text-center">
      <%= link_to 'ユーザー一覧', admin_users_path %>
    </div>
    <div class="col-6 text-center">
      <%= link_to '料理一覧', admin_dishes_path %>
    </div>
  </div>
</div>